<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SPPricing-20150929123138;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--DEV-->
    <add name="SP_PRICINGConnectionString" connectionString="Data Source=10.250.19.38;Initial Catalog=SP_PRICING;User ID=payrollgiving;Password=payrollgiving" providerName="System.Data.SqlClient" />
    <!--UAT-->
    <!--<add name="SP_PRICINGConnectionString" connectionString="Data Source=10.250.19.38;Initial Catalog=SP_PRICING_UAT;User ID=payrollgiving;Password=payrollgiving" providerName="System.Data.SqlClient" />-->
    <!--LIVE-->
    <!--<add name="SP_PRICINGConnectionString" connectionString="Data Source=edemumkaldbs002;Initial Catalog=SP_PRICING_Live;User ID=SPPricing;Password=sppricing~" providerName="System.Data.SqlClient" />-->
    <!--DEV-->
    <add name="SP_PRICINGEntities" connectionString="metadata=res://*/SP_Pricing.csdl|res://*/SP_Pricing.ssdl|res://*/SP_Pricing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.250.19.38;initial catalog=SP_PRICING;user id=payrollgiving;password=payrollgiving;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--UAT-->
    <!--<add name="SP_PRICINGEntities" connectionString="metadata=res://*/SP_Pricing.csdl|res://*/SP_Pricing.ssdl|res://*/SP_Pricing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.250.19.38;initial catalog=SP_PRICING_UAT;user id=payrollgiving;password=payrollgiving;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--LIVE-->
    <!--<add name="SP_PRICINGEntities" connectionString="metadata=res://*/SP_Pricing.csdl|res://*/SP_Pricing.ssdl|res://*/SP_Pricing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=edemumkaldbs002;initial catalog=SP_PRICING_Live;user id=SPPricing;password=sppricing~;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultUnderlying" value="Nifty 50 Index" />
    <add key="DefaultUnderlyingType" value="Pricing" />
    <add key="DefaultEntityID" value="132" />
    <add key="DefaultIsSecuredID" value="138" />
    <!--<add key="WorkingFilePath" value="\\edenastrefps001\Treasury Shared Services\Market Trading\SP\New Quotron Quotes\" />-->
    <add key="WorkingFilePath" value="D:\Shweta\SP Automation\TEst\" />
  </appSettings>
  <system.web>
    <sessionState timeout="240"></sessionState>
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GetDataForPricerSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://edemumnewuatvm4:63400/GetDataForPricer.asmx" binding="basicHttpBinding" bindingConfiguration="GetDataForPricerSoap" contract="SPPricingProductDetails.GetDataForPricerSoap" name="GetDataForPricerSoap" />
    </client>
  </system.serviceModel>
</configuration>